@import "less/reset.less";
@import "less/btn.less";
@import "less/variable.less";
@import "less/layout.less";
@import "less/sidebar.less";
@import "less/table.less";

@import "less/stations.less";
@import "less/home.less";
@import "less/map.less";
@import "less/card.less";

@import "less/form.less";

@import "../libs/font-awesome/css/all.min.css";

@font-face {
  font-family: "source-sans-pro";
  src: url("./font/source-sans-pro.regular.ttf") format("truetype");
}

body {
  margin: 0;
}