// out:false, main: ../site.less
.form {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.05);
  background: @white-1 0% 0% no-repeat padding-box;
  border-radius: 5px;
  padding: 10px 30px;
}

.form-control {
  display: flex;
  flex-flow: column;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;

  label {
    font-size: 1.1rem;
    color: @blu-gray-1;
  }

  input[type="text"] {
    background-color: transparent;
    font-family: source-sans-pro;
    background-color: #fafafa;
    color: #a9a9a9;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px 10px;
    border: 1px solid #ced4da;

    &:focus {
      outline: none !important;
    }


    &::placeholder {
      color: @gray;
    }
  }
}

select {

  min-height: 39px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 2px 6px @trasparency-1;
  opacity: 1;
  border: none;
  color: @light-gray-2;
  font-family: inherit;
  font-size: 1.3rem;
  padding: 5px 10px;
  border-radius: 5px;

  &:focus {
    outline: none !important;
  }

  &:after {
    color: red;
  }



}

textarea {
  background-color: transparent;
  font-family: source-sans-pro;
  background-color: #fafafa;
  color: #a9a9a9;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 5px 10px;
  border: 1px solid #ced4da;

  &:focus {
    outline: none !important;
  }


  &::placeholder {
    color: @gray;
  }
}


.custom-tag {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid rgba(139, 139, 139, 0.3);
  color: #adadad;
  border-radius: 5px;
  white-space: nowrap;
  margin: 3px 0px;
  transition: all 0.2s;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 10px;

  i {
    width: 20px;
  }


  label {
    cursor: pointer;

  }

  &.selected {
    background-color: #a5a4bf;
    color: white;

    label {
      color: white;
    }
  }
}

.vdp-datepicker {

  div:first-child {
    display: flex;
    flex-flow: row-reverse;
    border: 1px solid #ced4da;
    border-radius: 5px;
  }

  .vdp-datepicker__calendar-button {
    background-color: #fafafa;
    color: #a9a9a9;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px 10px;
    margin-left: -2px;
  }

  input[type="text"] {
    background-color: transparent;
    font-family: source-sans-pro;
    background-color: #fafafa;
    color: #a9a9a9;
    border-radius: 5px;
    font-size: 1.1rem;
    padding: 5px 10px;
    width: 100%;
    border: none;

    &:focus {
      outline: none !important;
    }


    &::placeholder {
      color: @gray;
    }
  }

}