// out:false, main: ../site.less
.paginator {
  border: 1px solid red;

  span.page {
    display: inline-block;
    margin: 0 4px;
    cursor: pointer;
    border: 1px solid gray;
    padding: 0 4px;

    &.current-page {
      background-color: green;
    }
  }
}